Repository bikespace/bikespace, pull requests merged in 2024-03, with the labels that each got.

#110 Added date filter to dashboard
  bikespace_dashboard/README.md
  bikespace_dashboard/assets/exclamation-triangle.svg
  bikespace_dashboard/css/components/map.css
  bikespace_dashboard/css/components/page.css
  bikespace_dashboard/css/components/sidebar.css
  bikespace_dashboard/css/components/stylevars.css
  bikespace_dashboard/css/components/template.css
  bikespace_dashboard/css/main.css
  bikespace_dashboard/css/modern-normalize.css
  bikespace_dashboard/index.html
  bikespace_dashboard/js/app.js
  bikespace_dashboard/js/components/api_tools.js
  bikespace_dashboard/js/components/main.js
  bikespace_dashboard/js/components/map.js
  bikespace_dashboard/js/components/sidebar/data-panel/day_chart.js
  bikespace_dashboard/js/components/sidebar/data-panel/duration_tod_chart.js
  bikespace_dashboard/js/components/sidebar/data-panel/issue_chart.js
  bikespace_dashboard/js/components/sidebar/data-panel/plot_utils.js
  bikespace_dashboard/js/components/sidebar/data-panel/summary_box.js
  bikespace_dashboard/js/components/sidebar/filter-panel/date_filter.js
  bikespace_dashboard/js/components/sidebar/panel_nav.js
  bikespace_dashboard/js/components/sidebar/summary_box.js
  bikespace_dashboard/libraries/jquery-3.7.1.min.js
  bikespace_dashboard/libraries/leaflet/images/layers-2x.png
  bikespace_dashboard/libraries/leaflet/images/layers.png
  bikespace_dashboard/libraries/leaflet/images/marker-icon-2x.png
  bikespace_dashboard/libraries/leaflet/images/marker-icon.png
  bikespace_dashboard/libraries/leaflet/images/marker-shadow.png
  bikespace_dashboard/libraries/leaflet/leaflet-src.esm.js
  bikespace_dashboard/libraries/leaflet/leaflet-src.esm.js.map
  bikespace_dashboard/libraries/leaflet/leaflet-src.js
  bikespace_dashboard/libraries/leaflet/leaflet-src.js.map
  bikespace_dashboard/libraries/leaflet/leaflet.css
  bikespace_dashboard/libraries/leaflet/leaflet.js
  bikespace_dashboard/libraries/leaflet/leaflet.js.map
  bikespace_dashboard/libraries/leaflet/leaflet.markercluster.js
  bikespace_dashboard/libraries/luxon.min.js
  bikespace_dashboard/libraries/plotly-2.27.0.min.js
Labels: enhancement, dashboard

#111 Added parking duration filter
  bikespace_dashboard/css/components/sidebar.css
  bikespace_dashboard/css/components/template.css
  bikespace_dashboard/js/app.js
  bikespace_dashboard/js/components/api_tools.js
  bikespace_dashboard/js/components/main.js
  bikespace_dashboard/js/components/sidebar/data-panel/day_chart.js
  bikespace_dashboard/js/components/sidebar/data-panel/issue_chart.js
  bikespace_dashboard/js/components/sidebar/filter-panel/date_filter.js
  bikespace_dashboard/js/components/sidebar/filter-panel/parking_duration_filter.js
Labels: enhancement, dashboard

#105 Add ability to browse through data by most recent
  bikespace_dashboard/README.md
  bikespace_dashboard/css/components/issue_label.css
  bikespace_dashboard/css/components/map.css
  bikespace_dashboard/css/components/page.css
  bikespace_dashboard/css/components/sidebar.css
  bikespace_dashboard/css/components/template.css
  bikespace_dashboard/css/main.css
  bikespace_dashboard/index.html
  bikespace_dashboard/js/app.js
  bikespace_dashboard/js/components/api_tools.js
  bikespace_dashboard/js/components/hash_router.js
  bikespace_dashboard/js/components/issue_label.js
  bikespace_dashboard/js/components/main.js
  bikespace_dashboard/js/components/map.js
  bikespace_dashboard/js/components/sidebar/data-panel/summary_box.js
  bikespace_dashboard/js/components/sidebar/feed/submissions.js
  bikespace_dashboard/js/components/sidebar/panel_nav.js
Labels: enhancement, dashboard

#113 Small cleanup items
  bikespace_dashboard/index.html
  bikespace_dashboard/js/components/map.js
  bikespace_dashboard/js/components/sidebar/feed/submissions.js
  bikespace_landing_page/index.html
Labels: dashboard

#116 Update to dashboard report issue link
  bikespace_dashboard/index.html
  bikespace_landing_page/index.html
Labels: dashboard

#118 Added individual READMEs for each component
  Makefile
  README.md
  bikespace_api/README.md
  bikespace_frontend/README.md
Labels: documentation
