Repository bikespace/bikespace, pull requests merged in 2025-02, with the labels that each got.

#231 Add old parking map to allow for app.bikespace.ca to change to bikespace.ca
  bikespace_frontend/package-lock.json
  bikespace_frontend/package.json
  bikespace_frontend/src/app/about/page.mdx
  bikespace_frontend/src/app/parking-map/layout.tsx
  bikespace_frontend/src/app/parking-map/page.tsx
  bikespace_frontend/src/assets/images/parking-map-old-mobile.png
  bikespace_frontend/src/components/dashboard/dashboard-header/DashboardHeader.tsx
  bikespace_frontend/src/components/landing/content-blocks/content-blocks.tsx
Labels: frontend

#232 Readme updates
  README.md
  bikespace_frontend/next.config.mjs
  bikespace_frontend/package-lock.json
  bikespace_frontend/package.json
  bikespace_frontend/src/components/landing/landing-layout/landing-layout.module.scss
Labels: documentation

#229 API - fix deprecation warnings
  bikespace_api/requirements.txt
Labels: api, dependencies

#192 React hook form
  bikespace_frontend/package-lock.json
  bikespace_frontend/package.json
  bikespace_frontend/src/components/dashboard/filter-date-range-custom/FilterDateRangeCustom.test.tsx
  bikespace_frontend/src/components/dashboard/filter-date-range-custom/FilterDateRangeCustom.tsx
  bikespace_frontend/src/components/dashboard/filter-date-range-custom/schema.ts
  bikespace_frontend/src/components/dashboard/filter-date-range/FilterDateRange.tsx
  bikespace_frontend/src/components/dashboard/map-handler/MapHandler.tsx
  bikespace_frontend/src/components/submission/base-button/BaseButton.tsx
  bikespace_frontend/src/components/submission/base-button/index.ts
  bikespace_frontend/src/components/submission/comments/Comments.tsx
  bikespace_frontend/src/components/submission/comments/comments.test.tsx
  bikespace_frontend/src/components/submission/constants.ts
  bikespace_frontend/src/components/submission/form-section-header/FormSectionHeader.tsx
  bikespace_frontend/src/components/submission/form-section-header/form-section-header.module.scss
  bikespace_frontend/src/components/submission/form-section-header/index.ts
  bikespace_frontend/src/components/submission/issue/Issue.tsx
  bikespace_frontend/src/components/submission/issue/issue.test.tsx
  bikespace_frontend/src/components/submission/location/Location.tsx
  bikespace_frontend/src/components/submission/location/location.test.tsx
  bikespace_frontend/src/components/submission/map-handler/MapHandler.tsx
  bikespace_frontend/src/components/submission/schema.ts
  bikespace_frontend/src/components/submission/select-input/SelectInput.tsx
  bikespace_frontend/src/components/submission/select-input/index.ts
  bikespace_frontend/src/components/submission/select-input/select-input.module.scss
  bikespace_frontend/src/components/submission/submission-form-content/SubmissionFormContent.tsx
  bikespace_frontend/src/components/submission/submission-form-content/index.ts
  bikespace_frontend/src/components/submission/submission-form-controller/SubmissionFormController.test.tsx
  bikespace_frontend/src/components/submission/submission-form-controller/SubmissionFormController.tsx
  bikespace_frontend/src/components/submission/submission-form-controller/submission-form-controller.module.scss
  bikespace_frontend/src/components/submission/submission-form-controller/submission-form-controller.tsx
  bikespace_frontend/src/components/submission/submission-form/SubmissionForm.tsx
  bikespace_frontend/src/components/submission/summary/Summary.tsx
  bikespace_frontend/src/components/submission/summary/summary.test.tsx
  bikespace_frontend/src/components/submission/time/Time.tsx
  bikespace_frontend/src/components/submission/time/time.module.scss
  bikespace_frontend/src/components/submission/time/time.test.tsx
Labels: frontend

#235 Bugfix - frontend uses wrong submission post format
  .github/workflows/test-preview.yml
  bikespace_frontend/src/components/submission/comments/Comments.tsx
  bikespace_frontend/src/components/submission/comments/comments.test.tsx
  bikespace_frontend/src/components/submission/constants.ts
  bikespace_frontend/src/components/submission/form-section-header/FormSectionHeader.tsx
  bikespace_frontend/src/components/submission/issue/issue.test.tsx
  bikespace_frontend/src/components/submission/location/Location.tsx
  bikespace_frontend/src/components/submission/location/location.test.tsx
  bikespace_frontend/src/components/submission/map-handler/MapHandler.tsx
  bikespace_frontend/src/components/submission/select-input/SelectInput.tsx
  bikespace_frontend/src/components/submission/submission-form-controller/SubmissionFormController.tsx
  bikespace_frontend/src/components/submission/submission-form-controller/submission-form-controller.tsx
  bikespace_frontend/src/components/submission/submission-form/SubmissionForm.tsx
  bikespace_frontend/src/components/submission/submission-form/schema.ts
  bikespace_frontend/src/components/submission/summary/Summary.tsx
  bikespace_frontend/src/components/submission/summary/summary.test.tsx
  bikespace_frontend/src/components/submission/time/Time.tsx
  bikespace_frontend/src/components/submission/time/time.test.tsx
Labels: bug, frontend
